/* Colors
- cart image                     : 23272D
- body text                      : 24282D
- breadcrumb bar background color: 23282D
- down arrow background          : 15171a
- jumbotron background           : 15171a
*/

/* Breakpoints
- small : 576px
- medium: 768px
- large : 992px
- xLarge: 1200px
*/

body {
  color: #24282D;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* ===================================
Header
====================================== */
.header__searchInput {
  border: none;
}

/* ===================================
Breadcrumb
====================================== */
.breadcrumbBar {
  background-color: #23282D;
  z-index: 1;
}

/* Down arrow */
.breadcrumbBar__downArrowContainer {
  background-color: #15171a;
}

/* ===================================
Jumbotron
====================================== */
.jumbotron {
  background-color: #15171a;
  padding-bottom: 0;
}

/* title */
.jumbotron__title {
  font-size: 1.15rem;
  letter-spacing: .2rem;
}
@media screen and (min-width: 576px) {
  .jumbotron__title {
    letter-spacing: 1rem;
  }
}

/* paragraph */
.jumbotron__paragraph {
  font-size: 5vw;
}
@media screen and (min-width: 576px) {
  .jumbotron__paragraph {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .jumbotron__paragraph {
    font-size: 2.3rem;
  }
}

/* 360 badge */
.jumbotron__360badge {
  display: none;
}
@media screen and (min-width: 576px) {
  .jumbotron__360badge {
    display: block;
    opacity: .2;
    top: -1.5rem;
    right: 0;
    width: 7rem;
  }
}
@media screen and (min-width: 768px) {
  .jumbotron__360badge {
    width: 10rem;
  }
}
@media screen and (min-width: 992px) {
  .jumbotron__360badge {
    width: 12rem;
  }
}
@media screen and (min-width: 1200px) {
  .jumbotron__360badge {
    width: 17rem;
  }
}

/* banner */
.jumbotron__banner {
  top: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

/* ===================================
Gallery
====================================== */
.gallery__item {
  height: 27rem;
}

/* image */
.gallery__image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: 50% 10%;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery__image {
    height: 65%
  }
}